@import "tailwindcss";

:root {
  --bg: 10 10 10;
  --text: 245 245 245;
  --muted: 160 160 160;
}

html.light {
  --bg: 236 225 204;
  --text: 30 30 30;
  --muted: 100 100 100;
}

html,
body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}